@inherits LayoutComponentBase

<PageTitle>Andrej's Languages and Interpreters</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/AndrejVlnka/AndrejsLanguages" target="_blank">Source code (GitHub)</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        <div class="bottom-row px-4">
            <br>
            Feel free to add review. It's stored in Azure SQL DB.
        </div>
    </main>
</div>
